Source: libmojolicious-plugin-human-perl
Section: perl
Priority: optional
Maintainer: Roman V. Nikolaev <rshadow@rambler.ru>
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: perl
Standards-Version: 3.9.3
Homepage: http://search.cpan.org/dist/Mojolicious-Plugin-Human/

Package: libmojolicious-plugin-human-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}
Description: Helpers to print values as human readable form.
 You can use this module in Mojo template engine to make you users happy.
 .
 This description was automagically extracted from the module by dh-make-perl.
